 
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 40px;
        }

        input {
            margin: 5px;
            padding: 5px;
        }

        button {
            padding: 6px 12px;
            margin-top: 10px;
        }

        liste {
            margin-top: 20px;
        }
    